<section id="inicio" class="hero">
  <div class="hero-content">
    <!-- Logo + título -->
    <div class="hero-header">
      <img src="ElevaIcon.png" alt="ElevaForge Logo" class="hero-logo">
      <!--<h1>ElevaForge</h1>-->
    </div>

    <!-- Texto -->
    <p class="hero-subtitle">
      Transformamos ideas en soluciones de software innovadoras.
      Elevamos tu negocio al siguiente nivel con tecnología de vanguardia
      y desarrollo personalizado.
    </p>

    <!-- Botones -->
    <div class="cta-buttons">
      <a href="#contacto" class="btn btn-primary" (click)="scrollToSection('#contacto', $event)"> Empezar Proyecto</a>
      <a href="#servicios" class="btn btn-secondary" (click)="scrollToSection('#servicios', $event)"> Ver
        Servicios</a>
    </div>
  </div>
</section>