// Variables globales
$primary-dark: #151826;
$secondary-dark: #011C40;
$blue-accent: #5EBAF2;
$yellow-accent: #F2A516;
$orange-accent: #F27405;

// Estilos globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: $primary-dark;
}