@use 'styles/variables' as v;

@font-face {
  font-family: 'Humanist531 Black BT';
  src: url('/assets/fonts/Humanist531BT-BlackA.woff2') format('woff2'),
       url('/assets/fonts/Humanist531BT-BlackA.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Humanist531 Black BT', Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: v.$primary-dark;
}
